html {
  scroll-behavior: smooth;
  background-color: #050505;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection Color */
::selection {
  background-color: #581C87; /* Brand Primary */
  color: white;
}
